<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Follow User</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/nav :: cf_header">...</header>
<h2>Welcome, <span th:text="${curUser.firstName}"></span>!</h2>
<div th:replace="fragments/nav :: loggednav">...</div>

<div>
    <img src="https://cdn.patchcdn.com/assets/layout/contribute/user-default.png" width="200px" height="200px">
    <h3>User Information</h3>
    <p>User name: <span th:text="${otherUser.username}"></span></p>
    <p>Last name: <span th:text="${otherUser.lastName}"></span></p>
    <p>Date of birth: <span th:text="${otherUser.dateOfBirth}"></span></p>
    <p>Bio: <span th:text="${otherUser.bio}"></span></p>
    <form action="'/following/' + ${user.getId()}" method="POST">
        <button type="submit">Follow</button>
    </form>
</div>

<div th:if="${not #lists.isEmpty(otherUser.followings)}">
    <h3>Your posts</h3>

    <ul>
        <li th:each="following : ${otherUser.followings}">
            <a th:href="'/following/ + following.getId()'">
                <span th:text="${following.firstName}"></span>
                <span th:text="${following.lastName}"></span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>