<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/nav :: cf_header">...</header>
<h2>Welcome, <span th:text="${currentUser.firstName}"></span>!</h2>
<div th:replace="fragments/nav :: loggednav">...</div>


    <div>
        <h3>Feeds</h3>

        <ul>
            <li th:each="following : ${followings}">
               
                <ul>
                    <li th:each="post: ${following.getPosts()}">
                        <span th:text="${post.body}"></span>
                        <p>Posted on <span th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></span>
                            by <span th:text="${following.firstName}"></span>
                            <span th:text="${following.lastName}">.</span>
                        </p>
                    </li>

                </ul>

            </li>
        </ul>
    </div>


</body>
</html>