<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/nav :: cf_header">...</header>
<h2>Welcome, <span th:text="${curUser.firstName}"></span>!</h2>
<div th:replace="fragments/nav :: loggednav">...</div>


<img src="https://cdn.patchcdn.com/assets/layout/contribute/user-default.png" width="200px" height="200px">
<h3>Your Information</h3>
<p>User name: <span th:text="${curUser.username}"></span></p>
<p>Last name: <span th:text="${curUser.lastName}"></span></p>
<p>Date of birth: <span th:text="${curUser.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${curUser.bio}"></span></p>


<div th:if="${not #lists.isEmpty(curUser.posts)}">
    <h3>Your posts</h3>

    <ul>
        <li th:each="post : ${curUser.posts}">

            <span th:text="${post.body}"></span>
            <p>Posted on <span th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></span></p>

        </li>
    </ul>
</div>

<!--<div th:if="${not #lists.isEmpty(curUser.followings)}">-->
    <!--<h3>Your posts</h3>-->

    <!--<ul>-->
        <!--<li th:each="following : ${curUser.followings}">-->
           <!--&lt;!&ndash;<a th:href="@{/users/} + following.getId()">&ndash;&gt;-->
            <!--<span th:text="${following.firstName}"></span>-->
            <!--<span th:text="${following.lastName}"></span>-->
           <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

</body>
</html>