<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<div th:replace="fragments :: header">...</div>
<h2>Welcome, <span th:text="${curUser.firstName}"></span></h2>

<img src="https://cdn.patchcdn.com/assets/layout/contribute/user-default.png" width="200px" height="200px">
<h2>User Information</h2>
<p>User name: <span th:text="${curUser.username}"></span></p>
<p>Last name: <span th:text="${curUser.lastName}"></span></p>
<p>Date of birth: <span th:text="${curUser.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${curUser.bio}"></span></p>

<!--<h4>Your posts</h4>-->
<!--<ul>-->
    <!--<li th:each="post : ${curUser.posts}">-->
        <!--<a th:href="'/posts/' + ${post.id}">-->
           <!--<textarea rows="5" cols="100" th:text="${curUser.body}"></textarea>-->
        <!--</a>-->
    <!--</li>-->
<!--</ul>-->

</body>
</html>